<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>转眼已经快六年</string>
	<string>想说的话应该不晚</string>
	<string>心里对你的爱恋</string>
	<string>如同诗一般</string>
	<string>默默连成篇</string>
	<string></string>
	<string>你是我今生唯一的牵绊</string>
	<string>虽然我不够成熟稳重</string>
	<string>虽然我有很多缺陷</string>
	<string>但我仍想一直守护你</string>
	<string>在你身边</string>
	<string>便没有了遗憾</string>
	<string></string>
	<string>我只愿</string>
	<string>你没有烦恼 不会厌倦</string>
	<string>天天美丽 身体健康</string>
	<string>让爱情美美满满</string>
	<string>这是我的誓言</string>
	<string></string>
	<string>我们之间  有一根线</string>
	<string>将你我紧紧相连</string>
	<string>未来的路很难</string>
	<string>但只要彼此相牵</string>
	<string>便不会分散</string>
	<string></string>
	<string>对未来  我有很多期盼</string>
	<string>想和你把世界走一遍</string>
	<string>躺在海岸边</string>
	<string>看星空有多璀璨</string>
	<string>还要站在山顶端</string>
	<string>大声喊</string>
	<string>我爱你  一遍又一遍</string>
	<string>多浪漫</string>
	<string></string>
	<string>最后欠你一个答案：</string>
	<string>如有你相伴</string>
	<string>不羡鸳鸯不羡仙</string>
	<string></string>
	<string>星星</string>
	<string>我亲爱的老婆</string>
	<string>生日快乐</string>
</array>
</plist>
